{% extends 'base.html.twig' %}

{% block body %}


    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <h1>GALERNE Florian</h1>
            <h2>Developpeur junior PHP Symfony</h2>

            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <div href="#" class="thumbnail">
                        <img src="{{ asset('bundles/cv/img/fg.jpg') }}" alt="GALERNE Florian">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="caption ">

                    <p>florian.galerne@free.fr</p>
                    <p>06 08 15 07 98</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    <h4>En quelques mots ...</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dignissimos illo sapiente sunt? Aut enim ex excepturi ipsam necessitatibus repellendus saepe similique temporibus vero voluptates? Distinctio dolores quibusdam tempore tenetur.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="right col-xs-12 col-sm-6 col-md-8">
        <div class="project">
            <h2>Projets Dev</h2>
            <h4>Description</h4>
            <h4>Fonctionnalités</h4>

        </div>
        <div class="school">
            <h2>Formation</h2>
        </div>
        <div class="experiences">
            <h2>Experiences</h2>
        </div>
    </div>





    {% for cv in cvs %}
        <tr>
            <td><a href="{{ path('cv_show', { 'id': cv.id }) }}">{{ cv.id }}</a></td>
            <td>{{ cv.title }}</td>
            <td>{{ cv.resume }}</td>
            <td>{{ cv.formation }}</td>
            <td>{{ cv.education }}</td>
            <td>{{ cv.experiences }}</td>
            <td>{{ cv.telephone }}</td>
            <td>{{ cv.address }}</td>
            <td>{{ cv.email }}</td>
            <td>{{ cv.firstname }}</td>
            <td>{{ cv.lastname }}</td>
            <td>{{ cv.project }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('cv_show', { 'id': cv.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cv_edit', { 'id': cv.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cv_new') }}">Create a new cv</a>
        </li>
    </ul>
{% endblock %}
